* {
    box-sizing: border-box;
}

.login {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border-radius: 0.5em;
    box-shadow: 0 10px 5px #8EA7E9;
    padding: 2.4em 3em;
}

.input-container input {
    border-radius: 0.2em;
    border: 2px solid #cfdcff;
    background-color: white;
    font-size: 1em;
    width: 100%;
    padding: 0.2em;
    margin-bottom: 1em;
}

.input-container input:focus {
    outline: none;
    border: 2px solid #6C8EAD;
}

.location .input-container input {
    margin-bottom: 0;
}

.button-container .btn-blue {
    background-color: #6C8EAD;
    color: white;
    border: none;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    cursor: pointer;
    border-radius: 0.5em;
    width: 100%;
    margin-top: 20px;
    position: relative;
}