.modal-content h1 {
    margin-top: 0;
}

.btn-modal-cancel {
    background-color: white;
    color: #6C8EAD;
    border: 2px solid #6C8EAD;
    padding: 0;
    border-radius: 0.5em;
    font-size: 1em;
    float: left;
    width: 47.5%;
    height: 2.5em;
    cursor: pointer;
    margin-right: 2.5%;
}

.btn-modal-add {
    background-color: #6C8EAD;
    color: white;
    border: 2px solid #6C8EAD;
    padding: 0;
    border-radius: 0.5em;
    font-size: 1em;
    float: left;
    width: 47.5%;
    height: 2.5em;
    cursor: pointer;
    margin-left: 2.5%;
}

.header-btn {
    background-color: #6C8EAD;
    color: white;
    border: none;
    padding: 10px 36px;
    border-radius: 0.5em;
    font-size: 1em;
    float: left;
    width: auto;
    height: 2.5em;
    cursor: pointer;
}

.header-btn:hover {
    box-shadow: 0 5px 20px #98b6c6;
}

.button-container {
    position: relative;
    bottom: 0;
}

.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: 2;
}

.overlay {
    background: rgba(49,49,49,0.8);
}

.container {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

.col {
    flex: 1;
}

.left {
    float: left;
    width: 47.5%;
    margin-right: 2.5%;
}

.right {
    float: left;
    width: 47.5%;
    margin-left: 2.5%;
}

.modal-content {
    position: absolute;
    margin-top: 2em;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    width: 55%;
    z-index: 3;
    background-color: white;
    border-radius: 0.5em;
    box-shadow: 0 10px 5px #8EA7E9;
    padding: 2em 1.5em;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
}

.row {
    display: flex;
    justify-content: space-between;
}