header {
    margin: 2em;
    background-color: #8ba9c4;
    display: flex;
    border-radius: 0.5em;
    padding: 0.15em;
    /*justify-content: space-between;*/
}

.nav-login {
    flex: 1;
    margin: 0.15em;
}

.menu-btn {
    color: white;
    background-color: #6C8EAD;
    font-size: 1em;
    text-decoration: none;
    border: none;
    border-radius: 0.5em;
    padding: 0.5em 1em;
    cursor: pointer;
    width: 100%;
}

.menu-btn:hover {
    box-shadow: 0 5px 20px #98b6c6;
}