
.race-list {
    padding: 0 2em 2em 2em;
}

.race-list .card {
    background-color: white;
    border-radius: 0.5em;
    box-shadow: 0 10px 5px #99a9b1;
    padding: 1em;
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
    position: relative;
    height: 300px;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 3fr));
    grid-gap: 20px;
    z-index: 1;

}

.card .title {
    font-weight: bolder;
    font-size: 1.2em;
    color: #6C8EAD;
}

.card .competition {
    margin-bottom: 0.6em;
    font-size: 0.9em;
    color: #696969;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 1.1em;
    color: #454545;
}

.header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-btn {
    color: white;
    background-color: #6C8EAD;
    margin-right: 10px;
    font-size: 1em;
    text-decoration: none;
    border: none;
    border-radius: 0.5em;
    padding: 10px 36px;
    cursor: pointer;
}

.menu-btn:hover {
    box-shadow: 0 5px 20px #98b6c6;
}

.btn-blue {
    background-color: #6C8EAD;
    color: white;
    border: none;
    padding: 10px 36px;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    cursor: pointer;
    border-radius: 0.5em;
    width: 88.5%;
    margin-top: 20px;
    position: absolute;
    bottom: 1em;
}

.btn-blue:hover {
    box-shadow: 0 5px 15px #98b6c6;
}

.btn-white:hover {
    box-shadow: 0 5px 15px #8EA7E9;
}

#GENERAL {
    border: 3px solid #FFF275;
}

#FRIENDLY {
    border: 3px solid #FF8C42;
}

#SOLO {
    border: 3px solid #FF3C38;
}

#COMMON {
    border: 3px solid #A23E48;
}