.header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-btn {
    background-color: #6C8EAD;
    color: white;
    border: none;
    padding: 10px 36px;
    border-radius: 0.5em;
    font-size: 1em;
    float: left;
    width: auto;
    height: 2.5em;
    cursor: pointer;
}

.header-btn:hover {
    box-shadow: 0 5px 20px #98b6c6;
}

.race-detail {
    padding: 0 2em 2em 2em;
}

.race-detail .card {
    background-color: white;
    border-radius: 0.5em;
    box-shadow: 0 10px 5px #99a9b1;
    padding: 1em;
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
    position: relative;
    height: 300px;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 3fr));
    grid-gap: 20px;
    z-index: 1;

}

.card .title {
    font-weight: bolder;
    font-size: 1.2em;
    color: #6C8EAD;
}

.card .competition {
    margin-bottom: 0.6em;
    font-size: 0.9em;
    color: #696969;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 1.1em;
    color: #454545;
}

table {
    margin-top: 0.5em;
    width: 100%;
}

.th-time, .td-time {
    text-align: center;
}

.th-name, .td-name {
    text-align: left;
}