.user-list {
    padding: 0 2em 2em 2em;
}

.user-card {
    background-color: white;
    border-radius: 0.5em;
    box-shadow: 0 10px 5px #99a9b1;
    padding: 1em;
    margin-bottom: 1em;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
}

.name {
    font-weight: bold;
}

.btn-blue {
    background-color: #6C8EAD;
    border: none;
    color: white;
    padding: 10px 36px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 0.5em;
    margin-left: 20px;
}